# kubectl
source <(kubectl completion bash)
alias k=kubectl
complete -F __start_kubectl k

# kubectl krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export KREW_NO_UPGRADE_CHECK=1

# terraform
complete -C /usr/bin/terraform terraform

# packer
complete -C /usr/bin/packer packer

# pulumi
export PATH=$PATH:$HOME/.pulumi/bin

# helm
sudo bash -c 'helm completion bash > /etc/bash_completion.d/helm'

# kustomize
source <(kustomize completion bash)